*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #222;
}

.inputBox{
    position: relative;
    width: 250px;
}

.inputBox input{
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px 0.5px;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
}
